<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="CerrarModal()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="Info" *ngFor="let c of PeligroE | async">
        <h2 *ngIf="c.id==id">{{c.title}}</h2>
        <img class="img" *ngIf="c.id==id" src="{{ c.img }}" alt="imagen">
        <p *ngIf="c.id==id">{{c.desc}}</p>
    </div>

    <!--div id="Info" *ngFor="let c of Coordenadas">
        <h2 *ngIf="c.id==id">{{c.name}}</h2>
        <p *ngIf="c.id==id">Coordenadas</p>
    </div-->


    <div id="Info" *ngFor="let P of PuntosR | async">
        <h2 *ngIf=" P.id==id ">{{P.title}}</h2>
    </div>

    <div id="mape">
    </div>


</ion-content>