<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Inicio </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <img src="../../../assets/img/logo.webp" alt="logo" width="100%" height="60%">
        <ion-card-header>
            <ion-card-title>¿Qué es el calentamiento global?</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            Es el aumento gradual de las temperaturas en la atmósfera y que repercuten en las temperaturas de los océanos y la tierra.
            <br><br> El calentamiento global es un aumento, en el tiempo, de la temperatura media de la atmósfera terrestre y de los océanos. Se postula que la temperatura se ha elevado desde finales del siglo XIX debido a la actividad humana, principalmente
            por las emisiones de CO2 que incrementaron el efecto invernadero.
        </ion-card-content>
    </ion-card>
    <!--ion-button [routerLink]="['/plantilla1', 'PuntosR']">Videos</ion-button-->
</ion-content>