<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Inicio </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <img src="../../../assets/img/logo.webp" alt="logo" width="100%" height="60%">
        <ion-card-header>
            <ion-card-title>¿Que es el calentamiento global?</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">El “efecto invernadero” es el calentamiento que se produce cuando ciertos gases de la atmósfera de la Tierra retienen el calor. Estos gases dejan pasar la luz pero mantienen el calor como las paredes de cristal de un invernadero. En primer lugar,
            la luz solar brilla en la superficie terrestre, donde es absorbida y, a continuación, vuelve a la atmósfera en forma de calor. En la atmósfera, los gases de invernadero retienen parte de este calor y el resto se escapa al espacio. Cuantos
            más gases de invernadero, más calor es retenido.
        </ion-card-content>
    </ion-card>
    <!--ion-button [routerLink]="['/plantilla1', 'PuntosR']">Videos</ion-button-->
</ion-content>