<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngFor="let t of temp | async"> {{ t.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-group *ngFor="let c of temp | async">
        <ion-card (click)="AbrirModalInfo(c.id, c.cate)">
            <img src="{{c.img}} " alt="imagen " width="100%" height="300">
            <ion-card-header>
                <ion-card-subtitle>{{ c.subtitle }}</ion-card-subtitle>
                <ion-card-title>{{ c.title }}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-item-group>

</ion-content>