<ion-content padding center text-center>

    <img src="a../../assets/img/logo2.png" alt="Header" width="100%" height="50%">


    <ion-item>
        <ion-label position="floating"> Gmail </ion-label>
        <ion-input type="text" [(ngModel)]="Usuario" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input type="password" [(ngModel)]="Password" name="password"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="Login()" expand="block"> Iniciar Sesion </ion-button>
    <br>
    <ion-button routerLink="/registrarse" expand="block"> Crear cuenta </ion-button>
</ion-content>