<ion-content padding center text-center id="body">

    <div class="img">
        <img src="a../../assets/img/logo2.png" alt="Header" width="50%" height="30%">
    </div>

    <ion-item>
        <ion-label position="floating"> Gmail </ion-label>
        <ion-input type="text" [(ngModel)]="Usuario" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input type="password" [(ngModel)]="Password" name="password"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="Login()" expand="block" color="success"> Iniciar Sesion </ion-button>
    <br>
    <ion-button routerLink="/registrarse" expand="block" color="success"> Crear cuenta </ion-button>
</ion-content>