<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Videos</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/inicio"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-img src="../../assets/videos/miniaturas/botellas.jpg"></ion-img>
        <ion-card-content>
            <ion-card-header>
                <ion-card-title>Manualidades de boteellas</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-button (click)="Video1()" fill="solid">Ver Video</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="../../assets/videos/miniaturas/papel.png"></ion-img>
        <ion-card-content>
            <ion-card-header>
                <ion-card-title>Manualidades de boteellas</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-button (click)="Video2()" fill="solid">Ver Video</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="../../assets/videos/miniaturas/pnecil.jpg"></ion-img>
        <ion-card-content>
            <ion-card-header>
                <ion-card-title>Manualidades de boteellas</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-button (click)="Video3()" fill="solid">Ver Video</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>