<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>¿Sabias Que?</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/1.jpg" />
                <p>El primer animal que se extinguió debido al calentamiento global fue el sapo dorado en 1989</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/2.jpg" />
                <p>El cambio climático podría conducir a la extinción de hasta una de cada seis especies animales y vegetales. A medida que el clima siga cambiando, los científicos temen que algunas especies no puedan encontrar hábitats adecuados.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/3.jpg" />
                <p>Hay más dióxido de carbono en la atmósfera ahora, que ha habido en los últimos 800.000 años.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/4.jpg" />
                <p>Desde la década de 1950, el hielo marino del Ártico ha disminuido en un 15%</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/5.jpeg" />
                <p>A medida que el hielo ártico desaparece rápidamente, los científicos creen que el Ártico experimentará su primer verano sin hielo ya en el año 2040.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/6.jpg" />
                <p>La quema de combustibles fósiles añade actualmente casi seis mil millones de toneladas de CO2 a la atmósfera cada año. Los océanos y los bosques sólo eliminan la mitad de este CO2.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/7.jpg" />
                <p>El calentamiento global afecta negativamente al crecimiento del bambú, que es casi la única fuente de alimento para pandas gigantes en peligro de extinción. Se estima que el 80-100% de bambú desaparecerá a finales del siglo XXI.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/8.jpg" />
                <p>El año 2015 fue el año más cálido desde que existen registros, que arrancaron en 1880. Así lo corroboró la Administración Nacional Oceánica y Atmosférica de Estados Unidos (NOAA) y la NASA en su informe anual. Además, el mes de diciembre
                    de 2015 fue el más cálido de los últimos 136 años.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <img src="../../../assets/img/sabías que/9.jpg" />
                <p>Muchos animales del Ártico, incluyendo osos polares y algunas especies de focas, podrían estar extintos dentro de 20 años debido al calentamiento global.</p>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>