<ion-header>
    <ion-toolbar color="success">
        <ion-title>registrarse</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating"> Gmail </ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Repetir Contraseña </ion-label>
        <ion-input type="password" [(ngModel)]="passwordr" name="passwordr"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="Register()" expand="block" color="success"> Registrarse </ion-button>
    <br>
    <ion-button routerLink="/login" expand="block" color="success"> Ya tengo cuenta </ion-button>
    <br>
</ion-content>