<ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
        <ion-toolbar color="success">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list>
            <ion-menu-toggle *ngFor="let c of componentes | async">
                <ion-item [routerLink]="[c.routerLink, c.id]">
                    <ion-icon slot="start" [name]="c.icon"></ion-icon>
                    <ion-label>
                        {{ c.name }}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="CerrarSesion()">
            <ion-fab-button color="success">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>

</ion-menu>